
<!-- Image and text -->
  <main>
  <div id="adcPlayerDisplay">
    <h1>Sample ADC List</h1>

    
    {{!-- {{#each users as |user| }}
        <h2>Summoner Name: {{limitTenUser user}}</h2>
        <h2>Solo/Duo Rank: {{limitTenUser user.rank}}</h2>
        <h2>Flex Rank: {{limitTenUser user}}</h2>
    {{/each}} --}}

  </div>
  </main>