<main>
        <section>
            <h1>
                Search
            </h1>
        </section>
        <div class="dropdown">
            <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Role
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Top</a>
                <a class="dropdown-item" href="#">Jungle</a>
                <a class="dropdown-item" href="#">Mid</a>
                <a class="dropdown-item" href="#">ADC</a>
                <a class="dropdown-item" href="#">Support</a>
            </div>
        </div>
        <div class="btn-group">
            <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Rank
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Iron</a>
                <a class="dropdown-item" href="#">Bronze</a>
                <a class="dropdown-item" href="#">Silver</a>
                <a class="dropdown-item" href="#">PLatinum</a>
                <a class="dropdown-item" href="#">Diamond+</a>
            </div>
        </div>
    </main>