    <main>
        <section>
            <h1 class="search-title">
                Solo/Duo Search
            </h1>
        </section>
        <div class="solo-duo-search">
            <div>
                <button id ='playerSearchButton'> Search </button>
            </div>
            <br>
            <label for="roles">Role:</label>

            <select name="roles" id="roles">
                <option value="adc">ADC</option>
                <option value="support">Support</option>
                <option value="mid">Mid</option>
                <option value="jungle">Jungle</option>
                <option value="top">
                    <img src="public\images\top.webp" width="30" height="30" class="d-inline-block align-top nav-title" alt="Top Logo" loading="lazy">  
                        Top
                </option>
            </select>

            <label for="ranks">Rank:</label>

            <select name="ranks" id="ranks">
                <option value="iron">Iron</option>
                <option value="bronze">Bronze</option>
                <option value="silver">Silver</option>
                <option value="gold">Gold</option>
                <option value="platinum">Platinum</option>
                <option value="diamond">Diamond+</option>
            </select>
        </div>

        <section>
            <h1 class="search-title">
                Flex Search
            </h1>
        </section>

        <div class="flex-search">
            <div>
                <button id ='flexPlayerSearchButton'> Search </button>
            </div>
            <br>
            <label for="roles">Role:</label>

            <select name="roles" id="flexRoles">
                <option value="adc">ADC</option>
                <option value="support">Support</option>
                <option value="mid">Mid</option>
                <option value="jungle">Jungle</option>
                <option value="top">Top</option>
            </select>

            <label for="ranks">Rank:</label>

            <select name="ranks" id="flexRanks">
                <option value="iron">Iron</option>
                <option value="bronze">Bronze</option>
                <option value="silver">Silver</option>
                <option value="gold">Gold</option>
                <option value="platinum">Platinum</option>
                <option value="diamond">Diamond+</option>
            </select>
        </div>
         
        <div class="search-results">
        <h1>Total Results: {{usersLength}}</h1>
        <h1>Displayed Role: {{roleSelect}}</h1>
        <div class="row row-cols-1 row-cols-md-5 search-box" id="search-box">
        {{#each usersInfo}} 
            <div class="card" style="width: 18rem;" id="search1">
                <div class="card-body">
                <h5 class="card-title">Search Result</h5>     

                <p class="card-text">
                    Summoner Name: {{gameName}}
                    <br>
                    Rank: {{soloDuoRank}}
                    <br>            
                </p>
                </div>
            </div>
           {{/each}}


        </div>
        </div>

    </main>
    <script src="/js/search.js"></script>