#dateDisplay {
    font-family: monospace;
    font-size: 20px;
    right: 0%;
}

.navbar-brand {
    font-size: 30px;
}

.search-title {
    padding-left: 20px;
}

.solo-duo-search {
    position: relative;
    padding-left: 20px;
}

.flex-search {
    position: relative;
   padding-left: 20px;
} 

.search-results {
    position: relative;
    left: 45%;
    padding: 20px;
}

#search-box {
    position:relative;
    display:flex;
    flex-wrap: wrap;
    text-align:center;
    padding: 20px;
    right: 20%;
    /* left:500px; */
}

.search-dropdown {
    position: relative;
    
}



body {
    background-image: url("images/body-background.webp");
    background-size: cover;
    background-repeat:no-repeat;
    height: 100vh;
}




/* // Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

/* // Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) { ... } */

/* // Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) { ... } */

/* // Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) { ... } */ 