#dateDisplay {
    font-family: monospace;
    font-size: 20px;
    right: 0%;
}

.navbar-brand {


.nav-title {
    font-size: 30px;
}

.navbar {
    background-color: rgb(167, 157, 157);
}

.search-title {
    padding-left: 20px;
}

.solo-duo-search {
    position: relative;
    padding-left: 20px;
}

.flex-search {
    position: relative;
   padding-left: 20px;
} 

.search-results {
    position: relative;
    left: 45%;
    padding: 20px;
}

#search-box {
    position:relative;
    display:flex;
    flex-wrap: wrap;
    text-align:center;
    padding: 20px;
    right: 20%;
    /* left:500px; */
}

.search-dropdown {
    position: relative;
    
}

body {
    background-image: url("/images/body-background.webp");
    background-size: cover;
    background-repeat:no-repeat;
    height: 100vh;
}


.login-page {
    text-align: center;
    margin-bottom: 20px;
    padding: 50px;
    height: 830px;
    width: 500px;
    right: 50%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}



/* // Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

/* // Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) { ... } */

/* // Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) { ... } */

/* // Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) { ... } */ 